//anidacion

.caja{
    h2{
        color: blue;
        font-family: 'Courier New', Courier, monospace;
    }
    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline;
    }
}